/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica;
}

p {
  margin: 10px 0px;
}

button {
  font-size: 18px;
}

h2 {
  margin-top: 3px;
  margin-bottom: 10px;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

.container {
  border: 1px solid;
  padding: 7px;
}

.table {
  margin-top: 15px;
  clear: all;
}

.column {
  float: left;
  width: 20%;
  border: 1px solid;
  border-top:0;
  border-right:0;
  padding: 7px;
}

.table_header {
  font-weight: 800;
  background-color: #92d08f;
  border: 1px solid;
  border-right: 0px;
  padding:7px;
}

.last {
  border-right: 1px solid; 
}

.row {
  overflow: auto;
}

.clear {
  clear: both;
}

.input-box {
  border: 0px 1px 1px 1px solid;
  margin: 10px 0px 30px 0px;
  font-size: 18px;
}

.center {
  text-align: center;
}

.dollars:before { 
  content:'$';
}